@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #354041;
  font-family: "Red Hat Display", sans-serif;
  text-transform: uppercase;
  color: #93b6bf;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  font-size: 3rem;
  letter-spacing: 0.6rem;
  font-weight: 900;
  margin-top: 60px;
}

#add-button {
  font-family: "Red Hat Display", sans-serif;
  text-transform: uppercase;
  color: rgba(67, 95, 106, 1);
  font-weight: 600;
  font-size: 1rem;
  border-radius: 60px;
  width: 30%;
  max-width: 200px;
  min-width: 135px;
  height: 8%;
  padding: 10px;
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  background-color: #a7cced;
  border: 3px solid rgb(67, 95, 106, 0.6);
  box-shadow: 0 6px 18px 0px rgba(0, 0, 0, 0.25);
}

#library {
  width: 100%;
  padding: 10% 10%;
  padding-top: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.book-card {
  position: relative;
  background: rgb(67, 95, 106);
  background: linear-gradient(
    0deg,
    rgba(67, 95, 106, 1) 0%,
    rgba(88, 122, 134, 1) 100%
  );
  border: 1px solid #dce3e7;
  padding: 5px 10px;
  margin: 20px 5px;
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.25);
  transition: display 0.2s;
}

.remove-button {
  background-color: #dce3e7;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  right: -10px;
  top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 1.2rem;
}

.remove-button p {
  margin: 0;
  text-align: center;
}

.book-card > .remove-button {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s linear;
}

.book-card:hover > .remove-button {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.1s linear;
  box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.25);
}

.book-title {
  color: #dce3e7;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  text-align: center;
  font-weight: 800;
  margin-bottom: 10px;
}

.author {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  margin-top: 0px;
  margin-bottom: 32px;
  font-weight: 600;
  text-align: center;
}

.pages {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: #dce3e7;
  margin-top: 0px;
  font-weight: 400px;
  font-style: italic;
  margin: auto;
}

.read-state {
  width: 80%;
  letter-spacing: 0.08rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: auto;
  /* border: 1px solid #DCE3E7CC; */
  margin-bottom: 10px;
  color: #86a1a8;
}

.completed,
.reading {
  color: #dce3e7;
  border-bottom: 2px solid #dce3e7;
}

#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

#popup {
  background-color: #a7cced;
  color: rgba(67, 95, 106, 1);
  padding: 40px;
  width: 50%;
  max-width: 350px;
  max-height: 400px;
  margin: 15% auto; /* 15% from the top and centered */
  border: 1px solid gray;
  border-radius: 4px;
}

#popup-title {
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 20px;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#completed-group {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.08rem;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 10px;
  padding: 7px;
}

#completed-group > p {
  margin: 0;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.form-input {
  width: 80%;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  border: none;
  letter-spacing: 0.05rem;
}

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
}
